# Dependencies
node_modules

# Build output
dist

# Environment secrets
.env

# CDK output
cdk.out

# Logs
*.log

# OS files
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
